:root{
	--min-height: 600px;
	--background-color:#BFCAE6;
}
.col__box-notification{
	height: var(--min-height);
	background-color: var(--background-color); 	
}
.title-notification{
   font-size: 20px;
   color: #103667;
}
.NgayTitle{
	font-size: 16px;
	color: red;
}
.main-notification{
	font-size: 16px;
	color: #B2001F;
	text-align: right;
	text-decoration:none;
}
.chitiet{
	color: #B2001F;
}

.form__tilte1{
	font-size: 18px;
	font-weight: bold;
}
.title__head1{
	font-size: 18px;
}
.title__head2{
	font-size: 16px;
}