@keyframes dropdown__box {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes identifier__spinning {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

* {
    box-sizing: inherit;
}

:root {
    --color-nav-href: #F5F5F5;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.dropdown__animation {
    -webkit-animation: dropdown__box 1s ease-in-out;
    /* Safari 4+ */
    -moz-animation: dropdown__box 1s ease-in-out;
    /* Fx 5+ */
    -o-animation: dropdown__box 1s ease-in-out;
    /* Opera 12+ */
    animation: dropdown__box 1s ease-in-out;
    /* IE 10+, Fx 29+ */
}

.identifier__spinning {
    -webkit-animation: identifier__spinning 0.5s ease-in;
    /* Safari 4+ */
    -moz-animation: identifier__spinning 0.5s ease-in;
    /* Fx 5+ */
    -o-animation: identifier__spinning 0.5s ease-in;
    /* Opera 12+ */
    animation: identifier__spinning 0.5s ease-in;
}

.header-top {
    height: 120px;
    text-align: center;
    align-content: center;
}

.main__notification {
    min-height: 700px;
}

.footer__container {
    background: #314755;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: auto;
    /* min-height: 200px; */
}

.col__footer {
    min-height: 200px;
}

.col__notification {
    min-height: 35px;
    background-color: royalblue;
}

.footer__coppyright {
    bottom: 0;
    border-top: 2px solid white;
    background: #314755;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 30px;
}

.row__footer {
    text-align: center;
    align-items: center;
}

.col__coppyright {
    text-align: center;
    align-items: center;
}

.title-footer {
    margin-top: 10px;
    font-weight: 400;
    font-size: 2rem;
    color: white;
}


/*
end footer */

.navbar {
    background: #314755;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    background-color: #F5F5F5;
}

.dropdown__menu-width {
    min-width: 400px;
    min-height: 200px;
    border-radius: 10px;
    width: 30% !important;
    height: 30% !important;
}

.border__triangle::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: 34px;
    top: -30px;
}

.border__login::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 30px;
    top: -30px;
}

.nav__bar-header {
    border-top: 8px solid rgba(63, 81, 181, 1);
    border-radius: 8px;
}

.header__top-logo {
    height: 120px;
}

.header__top-image-logo {
    height: 130px;
    width: 100%;
}


/*nav header */

.nav__link-href {
    margin: 4px 10px;
    font-size: 1.6rem;
    color: var(--color-nav-href) !important;
    text-transform: capitalize;
}

.nav__logo {
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 10px;
}


/* nav header */

.item-group {
    font-size: 1.4rem;
    margin-top: 10px;
    font-weight: 600;
}

.item-group:hover {
    background-image: linear-gradient(to right, var(--color-nav-href) 0%, #26a0da 51%, var(--color-nav-href) 100%);
    background-position: right center;
}


/* end nav header */


/* main content */

.title__col {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
}

.title__text {
    color: var(--color-nav-href);
    cursor: text;
}


/* btn sroll down*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, var(--color-nav-href) 0%, #26a0da 51%, var(--color-nav-href) 100%);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}